<style>
  div.fluxError {
    background: #f2dede;
    color: #a94442;
    border-color: #ebccd1;
    padding: 15px;
    border-radius: 4px;
    width: 100%;
    text-align: left;
  }
</style>

<div class='fluxError'>
  <p>
    {{ message }}
  </p>
</div>
